<div class="card position-absolute top-50 start-50 translate-middle " style="width: 40rem;">
    <div class="card-body">
        <p class="h5 pb-4">Конвертор </p>
        <div class="row">


            <div class="col-sm-6 ">
                <div class="currency">
                    <select id="currency-one" class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example">
                        <option value="EUR">EUR</option>
                        <option value="RUB">RUB</option>
                        <option value="UAH" selected>UAH</option>
                        <option value="USD">USD</option>
                    </select>
                    <div class="input-group input-group-lg"><input type="number" id="amount-one" placeholder="0"
                            value="" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg" /></div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="currency">
                    <select id="currency-two" onchange="" class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example">
                        <option value="RUB">RUB</option>
                        <option value="EUR">EUR</option>

                        <option value="UAH">UAH</option>
                        <option value="USD" selected>USD</option>

                    </select>
                    <div class="input-group input-group-lg"><input type="number" id="amount-two" placeholder="0"
                            value="" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg" /></div>
                </div>
            </div>
        </div>

    </div>
</div>